.button {
  font-family: var(--font-sans);
  font-size: inherit;
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: white;
  padding: 0.8rem 1.7rem;
  pointer-events: auto;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  background: rgb(255, 134, 35);

  border-radius: 3px;
  transition: all 0.15s ease;

  margin: 0;
  margin-left: 20px;

  transition: all 0.15s ease-in-out;

  &:hover {
    // background: rgb(255, 117, 26);
    transform: scale(1.05);
  }
}

.success {
  background: rgb(21, 136, 1);
  transition: all 0.15s ease;
}
