.button {
  font-family: var(--font-sans);
  font-size: inherit;
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: white;
  padding: 0.8rem 2rem;
  pointer-events: auto;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  background: rgb(255, 115, 0);

  border-radius: 3px;
  font-weight: 700;

  margin: 0;
  margin-left: 20px;

  transition: all 0.15s ease-in-out;

  &:hover {
    // background: rgb(255, 117, 26);
    transform: scale(1.05);
  }
}
