.section {
  align-self: flex-start;
  margin-bottom: 100px;
  color: white;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
