.section {
  color: white;

  h1 {
    margin-bottom: 10px;
    align-self: center;
    &::after {
      display: none;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
