.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(8, 8, 8, 1);

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  z-index: 1;
}
