.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// All pages are loaded into the main tag
.main {
  padding: 0 150px;
  margin: 0px auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
