.navbar {
  height: var(--nav-height);
  background-color: var(--bg);
  color: var(--text-color);
  padding: 0 3.5rem;
  width: 100%;
  font-family: var(--font-mono);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;

  .navItems {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-size: 2rem;
    }

    .list {
      max-width: 100%;
      max-height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;
      margin: 0;
    }

    .item {
      margin: 5px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .link {
      padding: 5px 10px;
      margin: 2px;

      &:hover {
        color: var(--text-secondary);
        filter: brightness(1.2);
        transition: all 0.2s;
      }
    }

    .span {
      color: var(--text-secondary);
      margin: 0 2px;
    }
  }
}
