.project {
  margin: 0 0 50px 0;
  color: white;
  display: grid;
  border-radius: 10px;
  width: 100%;

  .content {
    padding: 20px 20px 20px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: 1 / 1 / -1 / -1;
    z-index: 10;

    .heading {
      margin: 0 0 30px 0;
      font-size: clamp(1.5rem, 4vw, 2rem);
    }

    .description {
      margin: 0 0 20px 0;
      background-color: none;
      border-radius: var(--border-radius);
      box-shadow: 0 10px 30px -15px var(--bg);
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    .techList {
      margin: 0 0 20px 0;
      font-family: var(--font-mono);
      font-size: clamp(0.5rem, 4vw, 1rem);

      ul {
        display: flex;

        li {
          margin: 0 10px 5px 0;
          color: var(--text-secondary);
        }
      }
    }

    .links {
      ul {
        display: flex;

        li {
          font-size: 1.4em;
          margin: 0 15px 5px 0;
          transition: all 0.15s ease-in-out;

          &:hover {
            color: var(--text-secondary);
            transform: scale(1.2);
          }
        }
      }
    }
  }

  .image {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: 1 / 1 / -1 / -1;
    transition: all 0.15s ease-in-out;
    opacity: 0.25;

    img {
      object-fit: cover;
      width: 100%;

      border-radius: var(--border-radius);
      opacity: 0.8;
      transition: all 0.15s ease-in-out;
      transition: transform 0.3s ease-in-out;

      &:hover {
        cursor: pointer;
        filter: none;
        opacity: 1;
        filter: saturate(120%);
        transform: scale(1.01);
      }
    }
    &:hover {
      background: none;
    }
  }
}

@media (min-width: 375px) {
}

@media (min-width: 768px) {
  .project {
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    gap: 10px;
    background-color: var(--background-color);
    margin-bottom: 150px;
    .content {
      padding: 20px 20px 20px 0px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      grid-area: 1 / 1 / -1 / 7;
      z-index: 10;

      .description {
        margin: 0 0 20px 0;
        background-color: var(--description);
        padding: 15px 20px;
        border-radius: var(--border-radius);
        box-shadow: 0 10px 30px -15px var(--bg);
      }
    }
    .image {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      grid-area: 1 / 6 / -1 / -1;
      transition: all 0.15s ease-in-out;
      opacity: 1;
      text-align: left;
    }
  }

  .project:nth-of-type(2n + 1) {
    .content {
      text-align: right;
      grid-column: 7 /-1;

      ul {
        justify-content: flex-end;
      }
    }

    .image {
      grid-column: 1 /8;
    }
  }
}
